<div class="grid-row">
  <div class="column-two-thirds">

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= page_title t('.heading') %>
      </h1>
    </header>

    <p><%= t('.para_text') %></p>

    <div class="contact">
      <h3 class="heading-medium"><%= page_title t('.heading2') %></h3>
      <%= link_to 'enquiries@environment-agency.gov.uk', 'mailto:enquiries@environment-agency.gov.uk_url' %>

      <ul class="list">
        <li><%= t('.div_text11') %></li>
        <li><%= t('.div_text12') %></li>
        <li><%= t('.div_text13') %></li>
      </ul>
    </div>

  </div>
</div>
