<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= page_title t('.heading') %></h1>

    <h3 class="govuk-heading-s"><%= t('.before_you_register') %></h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.requirement1') %></li>
      <li><%= t('.requirement2') %></li>
    </ul>

    <h3 class="govuk-heading-s"><%= t('.we_will') %></h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.responsibility1') %></li>
      <li><%= t('.responsibility2') %></li>
    </ul>

    <h3 class="govuk-heading-s"><%= t('.you_will_need')%></h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.need1') %></li>
      <li><%= t('.need2') %></li>
      <li><%= t('.need3') %></li>
      <li><%= t('.need4') %></li>
      <li><%= t('.need5') %></li>
    </ul>

    <%= link_to t('.continue'), flood_risk_engine.new_enrollment_path, class: 'govuk-button', role: 'button' %>
  </div>
</div>
