<div class="grid-row">
  <div class="column-two-thirds">

    <%= form.fields_for @form.model.phone_numbers.first do |f| %>

      <header class="text">
        <h1 class="form-title heading-large" id="groupLabel">
          <%= set_page_title t('.heading') %>
        </h1>
      </header>

      <fieldset>
        <legend class="visuallyhidden"><%= t('.legend') %></legend>

        <!-- Telephone number -->
        <div class="form-group">
          <label class="form-label" for="telephone"><%= t('.label') %></label>
          <p class="form-hint"><%= t('.para_text') %></p>
          <%= f.text_field 'tel_number', class:  'form-control' %>
        </div>

      </fieldset>

    <% end %>

  </div>
</div>


