<% content_for(:head) do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
  <meta name="format-detection" content="telephone=no" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% end %>

<% set_page_title t(:global_proposition_header) %>

<% content_for :header_class, 'with-proposition' %>
<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <span id="proposition-name"><%= t(:global_proposition_header) %></span>
    </div>
  </div>
<% end %>


<% content_for(:content) do %>
  <main id="content" role="main">
    <%= yield %>
  </main>
<% end %>

<% content_for :body_end do %>
<% end %>

<% content_for :footer_top do %>
  <div class="ea-footer">
    <p><%= t('global.footer_support_text') %> <%= link_to t("global.helpline_telephone_number"), "tel:#{t "global.helpline_telephone_number_uri" }" %></p>
    <ul>
    </ul>
  </div>
<% end %>

<%-# LAST: RENDER main GDS template -%>
<%= render template: "layouts/govuk_template" %>
