<% content_for(:head) do %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <!--[if IE 8]><%= stylesheet_link_tag "ie8" %><![endif]-->
  <meta name="format-detection" content="telephone=no" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<% end %>

<% page_title t(:global_proposition_header) %>

<% content_for :header_class, 'with-proposition' %>
<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu">
        <%= link_to  t(:global_proposition_header), main_app.root_path,id: "proposition-name" %>
      </nav>
    </div>
  </div>
<% end %>

<%
  if Rails.env.development? && ENV["ADD_STATE_JUMPER_TOOLBAR"] == "true"
    content_for :after_header, render(partial: "shared/tools/state_renderer")
  end
%>

<%
  content_for(:body_start) do
    render("shared/google_analytics", google_tag: ENV["GOOGLE_ANALYTICS_ID"])
  end if ENV["GOOGLE_ANALYTICS_ID"].present?
%>

<% content_for(:content) do %>
  <main id="content" role="main">

    <div class="phase-banner-beta">
      <p>
        <strong class="phase-tag"><%= t(".beta")  %></strong>
        <span>
          <%= t(
                ".feedback",
                link: link_to(
                  t(".feedback_link"),
                  ::ApplicationHelper.feedback_survey_url(content_for(:page_title)),
                  target: "_blank"
                )
              ).html_safe
          %>
        </span>
      </p>
    </div>

    <%= yield %>
  </main>
<% end %>

<% content_for :body_end do %>
<% end %>

<% content_for :footer_top do %>
  <%= render("shared/footer") %>
<% end %>

<%-# LAST: RENDER main GDS template -%>
<%= render template: "layouts/govuk_template" %>
