<% content_for :cookies_banner do %>
  <%= render partial: "cookies/banner" %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "shared/google_analytics" if ENV["GOOGLE_ANALYTICS_ID"].present? %>
<% end %>

<% content_for :header_content do %>
  <%= link_to  t(:global_proposition_header), main_app.root_path, id: "proposition-name", class: "govuk-header__link govuk-header__link--service-name" %>
<% end %>

<% content_for :phase_banner do %>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        <%= t(".beta")  %>
      </strong>
      <span class="govuk-phase-banner__text">
        <%= t(
              ".feedback",
              link: link_to(
                t(".feedback_link.text"),
                t(".feedback_link.url"),
                class: "govuk-link",
                target: "_blank"
              )
            ).html_safe
        %>
      </span>
    </p>
  </div>
<% end %>

<% content_for :footer do %>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
       <%= t('flood_risk_engine.shared.footer.support_text') %>
       <%= link_to t("flood_risk_engine.shared.footer.helpline_telephone_number"),
        "tel:#{t "flood_risk_engine.shared.footer.helpline_telephone_number_uri" }",
        class: "govuk-footer__link" %>
    </li>
  </ul>

  <h2 class="govuk-visually-hidden">Support links</h2>
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <%= link_to 'Privacy', page_path('privacy_policy'), class: "govuk-footer__link", target: "_blank" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to 'Cookies', page_path('cookies'), class: "govuk-footer__link", target: "_blank" %>
    </li>
    <li class="govuk-footer__inline-list-item">
      <%= link_to 'Accessibility', page_path('accessibility'), class: "govuk-footer__link", target: "_blank" %>
    </li>
  </ul>
<% end %>

<%= render template: "layouts/defra_ruby_template" %>
